.main_block__left{
  float: left;
  width: 280px;
  margin: 0 40px 0 0;
  &__menu{
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    &__list{
      background-repeat: no-repeat;
      margin: 0;
      padding: 0;
      min-height: 48px;
      .left-title{
        margin: 40px 0 0;
        font-size: 16px;
        font-weight: bolder;
      }
      &__item{
        position: relative;
        display: block;
        padding: 16px;
        background: #fff;
        font-size: 14px;
        color: #333;
        border-bottom:thin solid #f5f5f5;
        text-decoration: none;
        .icon {
          position: absolute;
          right: 16px;
          top:40%;
        }
      }
    }

  }
}