%li.right_contents__mypage
  = link_to 'saling_items' do
  .right_contents__mypage--letter
    出品中
%li.right_contents__mypage
  = link_to 'trading_items' do
  .right_contents__mypage--letter
    取引中
%li.right_contents__mypage
  = link_to 'soldout_items' do
  .right_contents__mypage--letter
    出品停止